@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

h3 {
  font-size: 2rem;
}

h3,
h4 {
  margin: 0.5rem 0;
}

div {
  font-size: 1.7rem;
  margin: 0.5rem auto;
}

label {
  font-size: 1.7rem;
}

select {
  font-size: 1.7rem;
}

input[type='number']{
    font-size: 1.5rem;
    width: 160px;
}

.card {
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 2rem auto;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
}
button,
a {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  font: inherit;
  font-size: 1rem;
  background-color: #4170c9;
  border: 1px solid #4170c9;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 0.5rem;
  display: inline-block;
}

a:hover,
a:active,
button:hover,
button:active {
  background-color: #270041;
  border-color: #270041;
}

