<!DOCTYPE html>
   <head>
	<title>Centrala</title>
	<link rel="stylesheet" href="../static/style.css"> 
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   </head>
   <body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<div class="container-fluid">
    			<a class="btn btn-primary btn-lg" href="/">Centrala</a>
			<a class="btn btn-primary btn-lg" href="/programCentrala">Program Centrala</a>	    			
  		</div>
	</nav>

	
	<div class="card">
		<div>
			<h3 style="color: blue;">Centrala <span id="statusCentralaID">{{ statusCentrala }}</h2> 
		</div>
	
         
 <!--     	<h2>{{ time }}</h2> -->
	<div>
		<h3 style="color: red;">Evacuare: <span id="evacID">{{ tempEvacuare }}</span> <sup>o</sup>C</h2>
	</div>
	<div>
		<h3 style="color: red;">Apa centrala: <span id="tempCentralaID">{{ tempCentrala }}</span> <sup>o</sup>C</h2>
	</div>
	<div>
		<h3 style="color: red;">Rezervor peleti: <span id="distPeletiID">{{ dist }}</span> cm</h2>
	</div>

	
	</div>
	<div class="card">
	<div>
		<label for="cars" >Centrala</label>
  		<select name="stari" id="centrala">
    			<option value=""></option>
                      	<option value="0">Off</option>
                      	<option value="1">Aprindere</option>
                  	<option value="2">Stabil</option>
                      	<option value="3">Ardere</option>
                      	<option value="4">Stop Ardere</option>
                      	<option value="6">Aprindere fara peleti</option>
                      	<option value="7">Eroare Aprindere</option>
                      	<option value="8">Eroare Ardere</option>
			<option value="9">All Jobs Off</option>
  		</select>
		<button onclick="setStatusCentrala()" class="btn btn-primary">SET</button>
	</div>
	
		
	<div>Ventilator
		<button onclick="buttonOn('ventilator')" class="btn btn-primary">ON</button>
		<button onclick="buttonOff('ventilator')" class="btn btn-primary">OFF</button>
	</div>
	<div>Sneck
		<button onclick="buttonOn('sneck')" class="btn btn-primary">ON</button>
		<button onclick="buttonOff('sneck')" class="btn btn-primary">OFF</button>
	</div>
	<div>Pompa
		<button onclick="buttonOn('pompa')" class="btn btn-primary">ON</button>
		<button onclick="buttonOff('pompa')" class="btn btn-primary">OFF</button>
	</div>
	<div>Rezistenta
		<button onclick="buttonOn('rezistenta')" class="btn btn-primary">ON</button>
		<button onclick="buttonOff('rezistenta')" class="btn btn-primary">OFF</button>
		<button onclick="rezistin()" class="btn btn-primary">IN</button>
		<button onclick="rezistout()" class="btn btn-primary">OUT</button>
	</div>
	<div>timpSneckArdere: <span id="timpSneckArdereID">{{timpSneckArdere}}</span>
		<input type="number" id="input2" placeholder="nr intreg">
		<button onclick="timpSneckArdere()" class="btn btn-primary">SET</button>
	</div>
	</div>


	


    <script>
	var adresa = "http://192.168.1.211:5000"
	function buttonOn(param2) {
		url = "/pin/" + param2 + "/ON" 
		var xhttp = new XMLHttpRequest();
		xhttp.open("GET", url, true);
        	xhttp.send();
	}
	function buttonOff(param3) {
		url = "/pin/" + param3 + "/OFF" 
		var xhttp = new XMLHttpRequest();
		xhttp.open("GET", url, true);
        	xhttp.send();
	}

	setInterval(function ( ) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("evacID").innerHTML = this.responseText;
          }
        };
        xhttp.open("GET", "/tempEvacuare", true);
        xhttp.send();
      }, 2000) ;
	setInterval(function ( ) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("statusCentralaID").innerHTML = this.responseText;
          }
        };
        xhttp.open("GET", "/statusCentrala", true);
        xhttp.send();
      }, 1000) ;
	setInterval(function ( ) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("tempCentralaID").innerHTML = this.responseText;
          }
        };
        xhttp.open("GET", "/tempCentrala", true);
        xhttp.send();
      }, 2000) ;
	setInterval(function ( ) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("distPeletiID").innerHTML = this.responseText;
          }
        };
        xhttp.open("GET", "/distance", true);
        xhttp.send();
      }, 2000) ;

	setInterval(function ( ) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("timpSneckArdereID").innerHTML = this.responseText;
          }
        };
        xhttp.open("GET", "/timpSneckArdere", true);
        xhttp.send();
      }, 1000) ;
	
	function rezistin() {
		var xhttp = new XMLHttpRequest();
		xhttp.open("GET", "/rezistentain", true);
        	xhttp.send();
	};
	function rezistout() {
		var xhttp = new XMLHttpRequest();
		xhttp.open("GET", "/rezistentaout", true);
        	xhttp.send();
	}
	function setStatusCentrala() {
		var param3 = document.getElementById("centrala").value
		var url = "/statusCentrala/" + param3
		var xhttp = new XMLHttpRequest();
		xhttp.open("GET", url, true);
        	xhttp.send();

	}
	function timpSneckArdere() {
		var param4 = document.getElementById("input2").value.toString()
		var url = "/sneckTimpArdere/" + param4
		var xhttp = new XMLHttpRequest();
		xhttp.open("GET", url, true);
        	xhttp.send();
	}




	    </script>
   </body>
</html>