<!DOCTYPE html>
   <head>
	<title>Centrala</title>
	<link rel="stylesheet" href="../static/style.css"> 
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
   <body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<div class="container-fluid">
    			<a class="navbar-brand" href="/">Centrala</a>
    			<a class="navbar-brand" href="/programCentrala">Program Centrala</a>
  		</div>
	</nav>


	
	<div class="card">
		<div>
			<h3 style="color: red;">Temperatura Living: <span id="evacID">{{ tempLiving }}</span> <sup>o</sup>C</h2>
			<h4 style="color: blue;"><span id="statusProgramID">{{ statusProgram }}</span>: <span id="startTemperaturaID">{{ startTemperatura }}</span> - <span id="stopTemperaturaID">{{ stopTemperatura }}</span> </h4>
		</div>		
	</div>

	<div class="card">
		<div>
			<label for="cars">Program</label>
  			<select name="stari" id="centrala">
    				<option value=""></option>
                      		<option value="PROG">PROG</option>
                      		<option value="PROG1">PROG1(21.00-22.00)</option>
                      		<option value="PROG2">PROG2(21.50-22.50)</option>
                      		<option value="AER">AER(11.00-12.00)</option>
                      		<option value="CALD">CALD(27.00-28.00)</option>
  			</select>
			<button onclick="setStatusCentrala()" class="btn btn-primary">SET</button>
		</div>		
	</div>

	


    <script>
	setInterval(function ( ) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("evacID").innerHTML = this.responseText;
          }
        };
        xhttp.open("GET", "/programCentrala/tempLiving", true);
        xhttp.send();
      }, 10000) ;
	setInterval(function ( ) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("statusProgramID").innerHTML = this.responseText;
          }
        };
        xhttp.open("GET", "/programCentrala/statusProgram", true);
        xhttp.send();
      }, 2000) ;

	setInterval(function ( ) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("startTemperaturaID").innerHTML = this.responseText;
          }
        };
        xhttp.open("GET", "/programCentrala/startTemperatura", true);
        xhttp.send();
      }, 2000) ;

	setInterval(function ( ) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("stopTemperaturaID").innerHTML = this.responseText;
          }
        };
        xhttp.open("GET", "/programCentrala/stopTemperatura", true);
        xhttp.send();
      }, 2000) ;




	function setStatusCentrala() {
		var param3 = document.getElementById("centrala").value
		var url = "/programCentrala/setareProgram/" + param3
		var xhttp = new XMLHttpRequest();
		xhttp.open("GET", url, true);
        	xhttp.send();

	}



	    </script>
   </body>
</html>